<div class="gradient-header">
    <div>
        <h1 class="title">Update Product</h1>
        <h2 class="subtitle">This page allows administrators to edit products</h2>
    </div>
</div>
<div class="mx-5 p-5">
    <a class="btn btn-success btn-lg" href="@Url.Action("AddProduct", "Brian")" role="button">Add Product</a>
</div>
<div class="container center-container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Year</th>
                <th># of Parts</th>
                <th>Price</th>
                <th>Image Link</th>
                <th>Pri Color</th>
                <th>Sec Color</th>
                <th>Description</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@(product.ProductName.Length > 30 ? product.ProductName.Substring(0, 30) + "..." : product.ProductName)</td>
                    <td>@product.Year</td>
                    <td>@product.num_Parts</td>
                    <td>@product.Price</td>
                    <td>@(product.img_Link.Length > 20 ? product.img_Link.Substring(0, 20) + "..." : product.img_Link)</td>
                    <td>@product.primary_Color</td>
                    <td>@product.secondary_Color</td>
                    <td>@(product.Description.Length > 20 ? product.Description.Substring(0, 20) + "..." : product.Description)</td>
                    <td>@product.Category</td>
                    <td>
                        <button type="button" class=" btn-danger btn-sm" onclick="confirmDelete('@product.ProductName', @product.ProductId)">Delete</button>
                        <a class="btn btn-primary btn-sm" href="@Url.Action("UpdateProduct", "Brian", new { id = product.ProductId })">Edit</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

    <!-- JavaScript to handle the confirmation dialog -->
    <script>
        function confirmDelete(productName, productId) {
            if (confirm("Are you sure you want to delete " + productName + "?")) {
                var form = document.createElement("form");
                form.method = "post";
                form.action = "@Url.Action("DeleteProduct", "Brian")";

                var hiddenInput = document.createElement("input");
                hiddenInput.type = "hidden";
                hiddenInput.name = "id";
                hiddenInput.value = productId;

                form.appendChild(hiddenInput);

                document.body.appendChild(form);
                form.submit();
            } else {
                return false;
            }
        }
    </script>