

@{
    Layout = null;
}

@model Orders

<form method="post" action="@Url.Action("CreateOrder", "Home")">
    @Html.AntiForgeryToken()
    
    <!-- Visible but not editable -->
    <input type="text" name="date" value="@Model.date" readonly />
    <input type="text" name="day_of_week" value="@Model.day_of_week.Substring(0, 3)" readonly />
    <input type="text" name="time" value="@Model.time" readonly />
    <input type="text" name="type_of_transaction" value="@Model.type_of_transaction" readonly />

    <!-- Hidden because it is auto-populated and shouldn't change -->
    <input type="hidden" name="entry_mode" value="@Model.entry_mode" />
    
    <!-- Editable by user -->
    <input type="number" name="amount" value="@Model.amount" placeholder="Amount" required step="1" min="0" />
    <input type="text" name="country_of_transaction" value="@Model.country_of_transaction" placeholder="Country of Transaction" required pattern="^(United Kingdom|USA|India|China|Russia)$"/>
    <input type="text" name="shipping_address" value="@Model.shipping_address" placeholder="Shipping Address" required pattern="^(United Kingdom|USA|India|China|Russia)$"/>
    <input type="text" name="bank" value="@Model.bank" placeholder="Bank" required pattern="^(Halifax|Barclays|RBS|HSBC|Metro|Monzo|Lloyds)$"/>

    <input type="text" name="type_of_card" value="@Model.type_of_card" placeholder="Card Type" required pattern="^(MasterCard|Visa)$"/>

    <input type="submit" value="Submit Order" />
</form>

