@{
    ViewData["Title"] = "Products Page";
}


@model ProductRecsViewModel


@* Still need to create button that takes product and adds it to cart if the user is logged in. *@
@* If not, send to login page *@
@* Worry about this last - Configure routing at that time (not in home controller yet) *@


<div class="container product-details">
    <div class="row">
        <div class="col-md-6 product-image">
            @if (!string.IsNullOrEmpty(Model.Product.img_Link))
            {
                <img src="@Model.Product.img_Link" alt="Image of @Model.Product.ProductName">
            }
        </div>
        <div class="col-md-6">
            <h2 class="title">@Model.Product.ProductName</h2>
            <p class="product-price">Price: $@Model.Product.Price</p>
            <p class="product-info">Category: @Model.Product.Category</p>
            <p class="product-info">Color: @Model.Product.primary_Color</p>
            <p class="product-info indent"> @Model.Product.Description</p>
            @if (Model.RecommendationUrls.Any())
            {
                <div>
                    <h3 class="product-title">Aurora's Recommendations For You</h3>
                    <div class="row">
                        @foreach (var url in Model.RecommendationUrls.Take(5))
                        {
                            <div class="col-md-2 mb-3">
                                <div class="card">
                                    <img src="@url" class="card-img-top" style="max-width: 100%; height: auto;" alt="Product Image">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>